*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
h1{
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 30px 0;
}
body{
    font-family: Helvetica;
    -webkit-font-smoothing: antialiased;
    background: rgb(252, 247, 255);
}
h2{
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 30px 0;
}
caption {
    padding: 10px;
    font-size: 20px;
    caption-side: top;
    font-weight: bold;
    /* color: #767FA7; */
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
label {
    padding: 12px 12px 12px 0;
    width: 20%;
    margin-top: 6px;
    float: left;
}
input {
    background-color: #FCD5CE;
    padding: 8px 8px;
    margin: 2px 0;
    border: none;
    width: 100%;
    float: left;
    width: 70%;
    margin-top: 6px;
}
select {
    background-color: #FCD5CE;
    padding: 8px 8px;
    margin: 2px 0;
    border: none;
    float: left;
    width: 70%;
    text-align: center;
}
input[type=button], input[type=submit], input[type=reset] {
    background-color: #767FA7;
    border: none;
    color: white;
    padding: 8px 8px;
    margin: 2px 0;
    cursor: pointer;
    width: 25%;
    float: right;
}
/* Table Styles */

.table-wrapper{
    margin: 10px 70px 70px;
    box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2);
}

.fl-table {
    border-radius: 5px;
    font-size: 12px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: #FCD5CE;
    overflow-y: hidden;
    display: block;
}

.fl-table tbody {
    /* Set the height of table body */
    max-height: 250px; 
    /* Set vertical scroll */
    overflow-y: auto;
}

.fl-table tbody, thead {
    flex-direction: column;
    display: flex;
}

.fl-table td, .fl-table th {
    text-align: center;
    padding: 8px;
    flex: 1;
}

.fl-table td {
    border-right: 1px solid #f8f8f8;
    font-size: 12px;
}

.fl-table tr {
    display: flex;
}

.fl-table thead th {
    color: #ffffff;
    background: #767FA7;
    font-size: 16px;
}


.fl-table thead th:nth-child(odd) {
    color: #ffffff;
    background: rgb(153, 133, 147);
}

.fl-table tr:nth-child(even) {
    background: #F8EDEB;
}

/* Responsive */

@media (max-width: 767px) {
    .fl-table {
        display: block;
        width: 100%;
    }
    .table-wrapper:before{
        content: "Scroll horizontally >";
        display: block;
        text-align: right;
        font-size: 11px;
        color: white;
        padding: 0 0 10px;
    }
    .fl-table thead, .fl-table tbody, .fl-table thead th {
        display: block;
    }
    .fl-table thead th:last-child{
        border-bottom: none;
    }
    .fl-table thead {
        float: left;
    }
    .fl-table tbody {
        width: 100%;
        position: relative;
        overflow-x: auto;
        overflow-y: auto;
        height: 100px;
    }
    .fl-table td, .fl-table th {
        padding: 20px .625em .625em .625em;
        height: 60px;
        vertical-align: middle;
        box-sizing: border-box;
        overflow-x: hidden;
        overflow-y: auto;
        width: 120px;
        font-size: 13px;
        text-overflow: ellipsis;
    }
    .fl-table thead th {
        text-align: left;
        border-bottom: 1px solid #f7f7f9;
    }
    .fl-table tbody tr {
        display: table-cell;
    }
    .fl-table tbody tr:nth-child(odd) {
        background: none;
    }
    .fl-table tr:nth-child(even) {
        background: transparent;
    }
    .fl-table tr td:nth-child(odd) {
        background: #F8F8F8;
        border-right: 1px solid #E6E4E4;
    }
    .fl-table tr td:nth-child(even) {
        border-right: 1px solid #E6E4E4;
    }
    .fl-table tbody td {
        display: block;
        text-align: center;
    }
}

/* a:hover, a:active {
  background-color: lavender;
} */